{% extends 'todo/base.html' %}

{% block content %}

{{ error }}

{{ todo.title }}
{{ todo.id }}
<h5>{{ todo.datecreated}}</h5>
<!-- The form got defined in views.py, as 'TodoForm' -->
<form method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Save</button>    
</form>

<!-- To trigger 'completetodo' we need to create a new form with a 'Complete' button. 
The 'action' defines what the button is doing -->
<form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Complete</button>    
</form>


<!-- To trigger 'deletetodo' we need to create a new form with a 'Delete' button. 
The 'action' defines what the button is doing -->
<form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>    
</form>





{% endblock %}